<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>SESSION & COOKIE {# 这是注释， 不会被解析 #}</h1>
        <p>Cookie : {{ cookie }}</p>
        <p>Session : {{ session }}</p>
        <p>String : {{ string }}</p>
    </body>
</html>